/* ----Desktop---- */
@media only screen and (min-width: 769px) {
  p {
    line-height: 35px;
  }

  button {
    font-size: 20px;
    line-height: 26px;
  }

  h2 {
    width: 603px;
    font-size: 40px;
    line-height: 50px;
  }

  .wrapper {
    max-width: 1440px;
  }

  /*----Header----*/

  .header__wrapper {
    padding: 42px 109px;
  }

  /*----Header----*/
  /*----Welcome----*/

  .welcome__wrapper {
    padding: 62px 109px;
    align-items: center;
  }

  .welcome__img {
    width: 450px;
    height: 408px;
  }

  .welcome__article {
    gap: 45px;
    width: 550px;
  }

  .welcome__title {
    font-size: 45px;
    line-height: 50px;
  }

  /*----Welcome----*/
  /*----About us----*/

  .about__wrapper {
    flex-direction: row-reverse;
    padding: 93px 109px;
  }

  .about__article {
    gap: 38px;
    margin-top: 10px;
    width: 605px;
  }

  .about__img {
    width: 465px;
    height: 480px;
  }
}