/* ----Desktop---- */
@media only screen and (min-width: 1201px) {
  button {
    width: 160px;
    font-size: 20px;
    line-height: 26px;
  }

  h2 {
    font-size: 40px;
    line-height: 52px;
  }

  .wrapper {
    max-width: 1440px;
  }

  /*----Header----*/

  .header__wrapper {
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 42px 109px;
    align-items: baseline;
  }

  .burger-icon {
    display: none;
  }

  .nav__list {
    display: flex;
    flex-wrap: wrap;
    gap: 47px;
  }

  .nav__item {
    font-size: 16px;
    line-height: 50px;
  }

  .nav__link {
    color: #010201;
  }

  /*----Header----*/
  /*----Welcome----*/

  .welcome__wrapper {
    padding: 62px 109px;
    align-items: center;
  }

  .welcome__img {
    width: 450px;
    height: 408px;
  }

  .welcome__article {
    gap: 45px;
    max-width: 45%;
  }

  .welcome__title {
    font-size: 45px;
    line-height: 50px;
  }

  .welcome__text {
    margin-right: 25px;
    font-size: 20px;
    line-height: 35px;
  }

  .welcome__btn {
    padding: 10px 26px;
    font-size: 16px;
  }

  /*----Welcome----*/
  /*----About us----*/

  .about__wrapper {
    flex-direction: row-reverse;
    padding: 93px 109px;
  }

  .about__article {
    gap: 38px;
    margin-top: 10px;
    max-width: 49.5%;
  }

  .about__title {
    max-width: 80%;
  }

  .about__text {
    font-size: 20px;
    line-height: 30px;
  }

  .about__img {
    width: 465px;
    height: 480px;
  }

    /*----About us----*/
    /*----Service----*/

    .service__wrapper {
      padding: 41px 109px 120px;
      gap: 82px;
    }

    .service__filter {
      justify-content: left;
      align-items: center;
      gap: 142px;
    }

    .service__list {
      gap: 55px;
    }

    .service__variant {
      max-width: 330px;
    }

    .service__img {
      width: 330px;
      height: 350px;
    }

    /*----Service----*/
    /*----Prices----*/

    .prices__wrapper {
      padding: 40px 109px 120px;
      max-height: 560px;
    }

    .prices__right {
      gap: 40px;
    }

    .prices__title {
      font-size: 40px;
      line-height: 50px;
    }

    .prices__left {
      gap: 60px;
    }

    .prices__left .prices__title {
      text-align: left;
    }

    .dropdown-container {
      width: 335px;
    }

    .dropdown {
      font-size: 20px;
    }

    /*----Prices----*/
    /*----Contacts----*/

    .contacts__wrapper {
      justify-content: space-between;
      flex-direction: row-reverse;
      padding: 0 109px;
    }

    .contacts__title {
      margin-top: 60px;
      margin-left: 45px;
    }

    .accordion {
      margin-top: 148px;
    }

    .contacts__img {
      margin-top: 53px;
      width: 400px;
      height: 497px;
    }

    /*----Contacts----*/
    /*----Footer----*/

    .footer__wrapper {
      padding: 40px 109px;
      line-height: 50px;
    }

    .footer__link_rs {
      margin-left: 20px;
    }
}