* {
  margin: 0px;
	padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.header,
.welcome,
.services {
  background-color: #edf2ec;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: baseline;
  padding: 43px 109px;
}

.nav-list {
  display: flex;
  gap: 47px;
  font-family: 'Inika', serif;
  font-weight: 400;
  list-style: none;
  font-size: 16px;
  line-height: 50px;
}

.nav-item {
  width: fit-content;
}

a.nav-link {
  text-decoration: none;
  color: #010201;
}

a.nav-link-first {
  color: #e06733;
  font-weight: 700;
}

a:hover {
  cursor: pointer;
  color: #e06733;
  font-weight: 700;
  transition: .3s;
}

.logo {
  display: flex;
  align-items: baseline;
  gap: 2px;
}

.logo-vector {
  width: 20px;
  height: auto;
}

.logo-text {
  font-family: 'Inika', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.welcome-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 62px 109px;
}

.welcome-image {
  width: 449px;
  height: 407px;
  object-fit: cover;
}

.welcome-section-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 549px;
  gap: 46px;
}

.welcome-section-txt {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.welcome-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  padding-bottom: 1px;
}

.span-green {
  color: #499a18;
}

.welcome-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
}

.welcome-button {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 26px;
  color: #000000;
  border: 2px solid #e06733;
  border-radius: 10px;
}

.welcome-button:hover,
.services-btn:hover {
  background-color: #e06733;
  cursor: pointer;
  color: #edf2ec;
  font-weight: 700;
  transition: .3s;
}

.about {
  background-color: #ffffff;
}

.about-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 93px 109px;
}

.about-section-text {
  display: flex;
  flex-direction: column;
  width: 605px;
  margin-top: 10px;
  gap: 36px;
}

.about-title,
.services-title {
  width: 603px;
  font-family: 'Inika', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
}

.span-orange {
  color: #e06733;
}

.about-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}

.about-image {
  width: 464px;
  height: 479px;
  object-fit: cover;
}

.services-wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px 109px 121px;
  gap: 80px;
}

.services-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1006px;
}

.services-title {
  width: 30%;
}

.services-buttons {
  display: flex;
  flex-direction: row-reverse;
  column-gap: 38px;
}

.services-btn {
  width: 161px;
  font-family: 'Inika', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #e06733;
  border: 1px solid #E06733;
  border-radius: 5px;
  padding: 12px 40px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-content: flex-start;
  list-style: none;
  margin: auto;
  gap: 55px;
}

.services-image {
  width: 329px;
  height: 350px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.services-item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.services-txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #E3E1D5;
  border-radius: 0px 0px 20px 20px;
  gap: 10px;
  padding: 9px 0 35px;
}

.services-title-small {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
  padding-bottom: 4px;
}

.services-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
}