* {
  margin: 0px;
	padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.header,
.welcome {
  background-color: #edf2ec;
}

.navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: baseline;
  padding: 42px 110px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 452px;
  font-family: 'Inika', serif;
  font-weight: 400;
  list-style: none;
  font-size: 16px;
  line-height: 50px;
}

.nav-item {
  width: fit-content;
}

a.nav-link {
  text-decoration: none;
  color: #010201;
}

a.nav-link-first {
  color: #e06733;
  font-weight: 700;
}

a:hover {
  cursor: pointer;
  color: #e06733;
  font-weight: 700;
  transition: .3s;
}

.logo {
  display: flex;
  align-items: baseline;
}

.logo-vector {
  width: 20px;
  height: auto;
  margin-right: 2px;
}

.logo-text {
  font-family: 'Inika', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.welcome-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 62px 109px 63px;
}

.welcome-image {
  width: 449px;
  height: 407px;
  object-fit: cover;
}

.welcome-section-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 549px;
  margin-top: 5px;
}

.welcome-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  padding-bottom: 1px;
  margin-bottom: 42px;
}

.span-green {
  color: #499a18;
}

.welcome-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 35px;
  color: #636060;
  margin-bottom: 48px;
}

.welcome-button {
  display: flex;
  align-items: center;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 26px;
  color: #000000;
  border: 2px solid #e06733;
  border-radius: 10px;
}

.welcome-button:hover {
  background-color: #e06733;
  cursor: pointer;
  color: #edf2ec;
  font-weight: 700;
  transition: .3s;
}

.about {
  background-color: #ffffff;
}

.about-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 93px 109px 94px;
}

.about-section-text {
  display: flex;
  flex-direction: column;
  width: 605px;
  margin-top: 10px;
}

.about-title {
  width: 603px;
  font-family: 'Inika', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  margin-bottom: 40px;
}

.span-orange {
  color: #e06733;
}

.about-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #636060;
}

.about-image {
  width: 464px;
  height: 479px;
  object-fit: cover;
}