.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // height: 40vh;
  // min-height: 300px;
  padding: 20px;
  top: -50px;
  z-index: 14;

  .slider {

    &-icon {
      position: absolute;
      top: 50%;
      margin-top: -16px;
      cursor: pointer;
      width: 32px;
      height: 32px;
      background-size: 32px 32px;
      background-position: center center;
      background-repeat: no-repeat;
      background-color: transparent;
      border: 0px;
      outline: 0px;
      opacity: 0.8;
      cursor: pointer;
      transition: all 0.3s ease 0s;

      &:hover {
        opacity: 1;
      }

      &:active {
        border: 0;
        outline: 0;
        transform: scale(1.1);
      }
    }

    &__prev {
      left: 20px;
      background-image: url("../../assets/svg/slider-prev.svg");
    }

    &__next {
      right: 20px;
      background-image: url("../../assets/svg/slider-next.svg");
    }
  }


  .time {
    min-height: 124px;
    margin-bottom: 10px;
    font-family: 'Arial-MT';
    font-size: 100px;
    letter-spacing: -4px;
    user-select: none;
    opacity: 1;
    transition: all 0.8s;

    &._hide {
      opacity: 0;
      transition: all 0.8s;
    }
  }

  .date {
    min-height: 28px;
    font-size: 24px;
    margin: 0 auto 20px;
    user-select: none;
    opacity: 1;
    transition: all 0.8s;

    &._hide {
      opacity: 0;
      transition: all 0.8s;
    }
  }

  .greeting-container {
    display: inline;
    min-height: 48px;
    font-size: 40px;
    opacity: 1;
    visibility: visible;
    transition: all 0.8s;

    &._hide {
      opacity: 0;
      visibility: hidden;
      transition: all 0.8s;
    }

    .greeting {
      text-align: right;
      vertical-align: top;
      user-select: none;
    }

    .username {
      outline: none;
      white-space: nowrap;
      text-align: left;
      vertical-align: top;

      &._none-name {
        color: #fff;
        opacity: .6;
      }

      &._inline-block {
        max-width: 100%;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .name {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .main {
    top: -20px;

    .time {
      min-height: 80px;
      font-size: 72px;
    }

    .greeting-container {
      min-width: 380px;
      min-height: 40px;
      font-size: 32px;
    }
  }
}

@media (max-width: 380px) {
  .main {
    top: 20px;

    .slider {

      &__prev {
        left: 10px;
      }

      &__next {
        right: 10px;
      }
    }

    .time {
      min-height: 45px;
      font-size: 40px;
      margin-bottom: 0;
    }

    .date {
      margin: 0 auto 10px;
    }

    .greeting-container {
      min-width: 320px;
      font-size: 20px;
    }
  }
}
